* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: sans-serif;
}
img {
  max-width: 100%;
}

body {
  background-color: rgb(35, 31, 31);
}
.container {
  margin: 0 auto;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider {
  width: 100%;
  display: flex;
  height: 1000px;
}

.items-container {
  width: 100%;
  height: 1000px;
}

.item {
  width: 100%;
  display: none;
  height: 100%;
}

.item img {
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
  height: 100%;
}
#thumbnails {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 1000px;
  position: relative;
}
.thumb-img {
  object-fit: cover;
  height: calc(1000px / 5);
  opacity: 0.5;
}

#thumbnails button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(45, 40, 40, 0.4);
  color: rgba(240, 240, 240, 0.2);

  border: none;
  padding: 0.2em 0.5em;
  font-size: 2rem;
  width: 100%;
  z-index: 999;
}

#thumbnails button:hover {
  color: white;
  background-color: rgba(45, 40, 40, 0.8);
}

#prev {
  top: 0px;
}
#next {
  bottom: 0px;
}

.active {
  display: block;
}

.active-thumb {
  border: 1px solid lightskyblue;
  opacity: 1;
}

.hidden {
  display: none;
}
